<html>
  <head></head>
  <body>
    <div id="app"></div>
    <script type="module">
      import {
        createApp,
        reactive,
        ref,
        computed,
      } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

      const root = {
        template: `
          <nav>
              <a
                v-for="value of menu"
                v-on:click.prevent="selectedMenu = value"
                :key="value"
                :href="value.toLowerCase()"
              >
                {{value}}
              </a>
          </nav>
          <input v-model.lazy="search"/>
          <h2>{{selectedMenu}}</h2>
          <h2 v-if="search">{{searchResult}}</h2>
        `,
        setup() {
          const menu = ['HTML', 'CSS', 'Javascript']
          const search = ref('')

          return {
            menu,
            search,
            selectedMenu: ref('HTML'),
            searchResult: computed(function () {
              console.log('실행!')
              return '검색결과 ' + search.value
            }),
          }
        },
      }
      const app = createApp(root)
      app.mount('#app')
    </script>
  </body>
</html>
