<html>
  <head></head>
  <body>
    <div id="app"></div>
    <script type="module">
      import {
        createApp,
        reactive,
      } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

      const root = {
        template: `
          <nav>
              <a
                v-for="value of menu"
                v-on:click.prevent="selectedMenu.value = value"
                :key="value"
                :href="value.toLowerCase()"
                :key="value"
              >
                {{value}}
              </a>
          </nav>
          <input v-model.lazy="search.value"/>
          <h2>{{selectedMenu.value}}</h2>
          <h2 v-if="search.value">{{"검색결과 "+ search.value}}</h2>
        `,
        setup() {
          const menu = ['HTML', 'CSS', 'Javascript']
          return {
            menu,
            search: reactive({ value: '' }),
            selectedMenu: reactive({ value: 'HTML' }),
          }
        },
      }
      const app = createApp(root)
      app.mount('#app')
    </script>
  </body>
</html>
